In [70]:
import pandas as pd
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [84]:
import pyodbc

In [89]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-4E75C8B;'
                      'Database=Rob;'
                     'Connections=true;')

cursor = conn.cursor()
cursor.execute('SELECT * FROM student')

for row in cursor:
    print(row)

(1, 'Robin', 'Gaj', 9811841133, 'robteotia@gmail.com')
(2, 'Yuvika', 'Gaj', 9211842233, 'abcd@gmail.com')

In [74]:
cursor.execute('Insert into student
Values(3,'Gunner','Arnold', 9217652233, 'gggg@gmail.com')')
for row in cursor:
    print(row)

SyntaxError: EOL while scanning string literal (<ipython-input-74-003a351dd51e>, line 1)

In [53]:
%%sql
select * from Student

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [54]:
Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Rob;Data Source=DESKTOP-4E75C8B;

SyntaxError: invalid syntax (<ipython-input-54-7598f2d60d57>, line 1)

In [56]:
%sql postgresql:Server='DESKTOP-4E75C8B';Database='Rob';Trusted_Connection=True;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [55]:
%sql postgresql://DESKTOP-4E75C8B/Rob

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
No module named 'psycopg2'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [43]:
postgresql://user:secret@localhost

SyntaxError: invalid syntax (<ipython-input-43-298a502412e5>, line 1)

In [98]:
%sql dict_keys([Server='DESKTOP-4E75C8B';Database='Rob'])

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [99]:
import pandas as pd
import pyodbc
import numpy as np
import sqlalchemy

In [100]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [101]:
import urllib
params = urllib.parse.quote_plus("DRIVER={SQL SERVER};SERVER=DESKTOP-4E75C8B;DATABASE=Rob;TRUSTED_CONNECTION=YES")
"mssql+pyodbc:///?odbc_connect=%s" % params

'mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+SERVER%7D%3BSERVER%3DDESKTOP-4E75C8B%3BDATABASE%3DRob%3BTRUSTED_CONNECTION%3DYES'

In [104]:
%%sql mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BSQL+SERVER%7D%3BSERVER%3DDESKTOP-4E75C8B%3BDATABASE%3DRob%3BTRUSTED_CONNECTION%3DYES
select * from student

Done.

[(1, 'Robin', 'Gaj', 9811841133, 'robteotia@gmail.com'),
 (2, 'Yuvika', 'Gaj', 9211842233, 'abcd@gmail.com')]

In [105]:
%% sql
select * from student

UsageError: Cell magic `%%` not found.

In [106]:
connection_str = "DRIVER={SQL SERVER};SERVER=DESKTOP-4E75C8B;DATABASE=Rob;TRUSTED_CONNECTION=YES"
connection_str_quoted = urllib.parse.quote_plus(connection_str)
connection_uri = 'mssql+pyodbc:///?odbc_connect={}'.format(connection_str_quoted)

# this is how you would connect in sqlalchemy
import sqlalchemy
conn = sqlalchemy.create_engine(connection_uri)

%sql {connection_uri}

In [107]:
%%sql
select * from student

 * mssql+pyodbc:///?odbc_connect=DRIVER={SQL SERVER};SERVER=DESKTOP-4E75C8B;DATABASE=Rob;TRUSTED_CONNECTION=YES
Done.

[(1, 'Robin', 'Gaj', 9811841133, 'robteotia@gmail.com'),
 (2, 'Yuvika', 'Gaj', 9211842233, 'abcd@gmail.com')]

In [108]:
%%sql
Insert into student 
values(3,'Priya','John',9811841133,'zy@gamil.com')

 * mssql+pyodbc:///?odbc_connect=DRIVER={SQL SERVER};SERVER=DESKTOP-4E75C8B;DATABASE=Rob;TRUSTED_CONNECTION=YES
1 rows affected.

[]

In [109]:
%%sql
select * from student

 * mssql+pyodbc:///?odbc_connect=DRIVER={SQL SERVER};SERVER=DESKTOP-4E75C8B;DATABASE=Rob;TRUSTED_CONNECTION=YES
Done.

[(1, 'Robin', 'Gaj', 9811841133, 'robteotia@gmail.com'),
 (2, 'Yuvika', 'Gaj', 9211842233, 'abcd@gmail.com'),
 (3, 'Priya', 'John', 9811841133, 'zy@gamil.com')]